<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="logo">
            LOGO
        </div>
        <div class="basket">
            <a href="#" id="basket-link">
                KOSZYK (0)
                <span></span>
            </a>
        </div>
    </header>

    @RenderBody()

    <footer>
        <nav class="nav-bottom">
            <ul class="nav-footer">
                <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                <li>@Html.ActionLink("Informacje", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            </ul>
            <span>&copy; Shop ASP.Net Core MVC Damian Czyż</span>
        </nav>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
